
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}



.Onetasklist {
    margin: 10px;
    border: 2px solid var(--purple);
    background: var(--white);
    color: var(--black);
    width: 200px;
    height: 320px;
    border-radius: 10px;
}

.Onetasklist-task {
    width: 100px;
    height: 25px;
    border: 1px solid violet;
}