.Calendar-box {
    color: yellowgreen;
    font-size: 20px;
}

.row-1,
.row-2,
.row-3,
.row-4,
.row-5,
.row-6,
.row-7 {
    display: flex;
}

.row-1 .day {
    width: 80px;
    border: 0.5px solid gray;
}

.row-2 .day,
.row-3 .day,
.row-4 .day,
.row-5 .day,
.row-6 .day,
.row-7 .day {
    width: 80px;
    height: 80px;
    border: 0.5px solid gray;
}

.row-2 div:hover,
.row-3 div:hover,
.row-4 div:hover,
.row-5 div:hover,
.row-6 div:hover,
.row-7 div:hover {
    background: gold;
    transition: background 0.5s ease-in-out;
}