@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}




.OneMonth-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
}



.OneMonth-top-row button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin:  0px 10px;
    color: var(--bright-purple);
}

.OneMonth-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;
    
}

.SampleMonth-add-new-task-btn {
    width: 120px;
    height: 30px;
    background: var(--bright-purple);
    color: white;
    border: none;


}

/* monthly calendar itself - styles */

.OneMonth-monthly-calendar {
    border: 1px solid var(--bright-purple);
    border: none;
    width: 300px;
    margin: 10px auto;
    display: flex;
    flex-wrap: wrap;

}

.OneMonth-title-slot {
    width: 40px;
    height: 20px;
    border: 1px solid magenta;
}

.OneMonth-slot {
    width: 40px;
    height: 40px;
    border: 1px solid var(--light-purple);
}