@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}



.Sidebar {
    font-size: 18px;
    width: 250px;
    height: 600px;
    border: 1px solid var(--black);
    border: none;
    margin: 0;
    border: 2px solid gold;
    border: none;
    background: var(--whitesmoke);
}


.Sidebar-today {
    width: 200px;
    height: 150px;
    border: 2px solid var(--bright-purple);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background: var(--whitesmoke);
}


.Sidebar-title {
    font-weight: bold;
    font-size: 22px;
    margin-left: -95px;
}

.Sidebar-list {
    margin: 0 auto;
    width: 250px;
    font-size: 16px;
    text-align: center;
    background: var(--whitesmoke);
}

.calendars-list-itself {
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: left;
    text-align: left;
    background: var(--whitesmoke);
}


.Sidebar-row {
    display: flex;
    border-top: 1px solid var(--medium-gray);
    border-left: 1px solid var(--medium-gray);
    border-right: 1px solid var(--medium-gray);
}

.Sidebar-custom-checkbox {
    color: var(--bright-purple);
    margin: 4px 6px;
    font-size: 20px;
    cursor: pointer;
}



.calendars-list-itself div:last-child {
    border-bottom: 1px solid var(--medium-gray);
}


.Sidebar-color-picker-box {
    width: 200px;
    margin: 0 auto;
}


.Sidebar-color-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: gold;
    margin: 1px 5px;
    cursor: pointer;
}


/* add new calendar styles */

.Sidebar-add-btn {
    border: none;
    width: 150px;
    height: 40px;
    font-size: 16px;
    background: var(--bright-purple);
    margin: 10px;
    border-radius: 10px;
    color: white;

}

.Sidebar-add-btn:hover {
    cursor: pointer;
    background: var(--purple);
    transform: scale(0.97);
}