@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}



.OneWeek-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
}



.OneWeek-top-row button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin:  0px 10px;
    color: var(--bright-purple);
}

.OneWeek-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;
    background: var(--purple);
    color: white;

}



.week-names-setup {
    display: flex;
}


/* weekly table styles */

.OneWeek-table {
    display: flex;
    flex-direction: column;

}

.OneWeek-table-time {
    border: 1px solid var(--light-purple);
    width: 100px;
    height: 25px;
}

.OneWeek-day-of-week {
    border: 1px solid var(--medium-gray);
    width: 120px;
    height: 25px;
}

.OneWeek-day-of-week:hover {
    background: var(--light-purple);
    cursor: pointer;
}

.OneWeek-timeslot {
    border: 1px solid var(--light-purple);
    width: 120px;
    height: 25px;
}







/* table rows one by one each */


.OneWeek-table-row {
    display: flex;
    flex-direction: row;

}


.OneWeek-table-row-1 {
    display: flex;
    flex-direction: row;

}

.OneWeek-table-row-2 {
    display: flex;
    flex-direction: row;
}


.OneWeek-table-row-3 {
    display: flex;
    flex-direction: row;
}

.OneWeek-table-row-4 {
    display: flex;
    flex-direction: row;
}

.OneWeek-table-row-5 {
    display: flex;
    flex-direction: row;
}


.OneWeek-table-row-6 {
    display: flex;
    flex-direction: row;
}

.OneWeek-table-row-7 {
    display: flex;
    flex-direction: row;
}

.OneWeek-table-row-8 {
    display: flex;
    flex-direction: row;
}


.OneWeek-table-row-9 {
    display: flex;
    flex-direction: row;
}

.OneWeek-table-row-10 {
    display: flex;
    flex-direction: row;
}


.OneWeek-table-row-11 {
    display: flex;
    flex-direction: row;
}
