@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

:root {

    --bright-purple: #b852fc;
    --purple: #b191ff;
    --light-purple: #e8dfff;
    --sand: #ffc65e;

    --whitesmoke: #f5f5f5;
    --white: #fff;
    --black: #222;
    --medium-gray: #bbb;
    --light-gray: #eee;

}

.OneYear {
    margin: 0 auto;
    width: 1100px;
}



.OneYear-top-row {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
}


.OneYear-top-row button {
    background: var(--white);
    border: 1px solid var(--medium-gray);
    width: 100px;
    height: 30px;
    margin:  0px 10px;
    color: var(--bright-purple);
}

.OneYear-top-row button:hover {
    transform: scale(0.97);
    cursor: pointer;
    
}

.OneYear-month-year-label {
    text-align: center;
    margin: 0 auto;
    width: 100px;
}

/* one-year sample note styles */
.OneYear-sample-note {
    border: 1px solid tomato;
    width: 300px;
    height: 50px;
    margin: 5px auto;
}

/* today's date styles */

.OneYear-today {
    width: 200px;
    height: 200px;
    border: 2px solid var(--bright-purple);
    margin: 10px;
    position: fixed;
}


.OneYear-year-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 800px;
    margin-left: 250px;
}


.OneYear-month-box {
    margin: 5px;
    width: 180px;
    height: 180px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

   
}

.OneYear-monthly-boxes {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  
}

.OneYear-week {
    display: flex;
}

.OneYear-week-day-name {
    border: 1px solid var(--whitesmoke);
    margin: 1.5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.OneYear-week-day-name:hover {
    cursor: pointer;
    border: 1px solid var(--bright-purple);
}

.OneYear-day {
    border: 1px solid var(--whitesmoke);
    margin: 1.5px;
    width: 20px;
    height: 20px;
    font-size: 12px;
}

.OneYear-day:hover {
    cursor: pointer;
    border: 1px solid var(--bright-purple);
}

