@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap');

body {
    background: #37343b;
    background: #59555f;
    background: #c99007;
    background: greenyellow;
    background: yellowgreen;
    font-family: Oxygen;
}

.LandingPage {
    background: pink;
    background: white;
}


.my-main-logo {
    background: #c99007;
    background: greenyellow;
    background: yellowgreen;
    padding: 0;
    margin: 0;
    font-weight: bold;
    padding-top: 5px;
    text-align: left;
    padding-left: 3%;
}

.important-note {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 20px;
}

